label {
	display: block;
	box-sizing: border-box;
	width: 100%;
	border: 2px solid #20c997;
	color: #20c997;
	font-weight: bold;
	font: 25px Arial;
	text-align: center;
	border-radius: 12px;
	cursor: pointer;
	padding: 15px;
}

label:hover {
	background-color: #20c997;
	color: #fff;
}

input {
	display: none;
}