.weather_block {
	display: block;
    border: 2px solid #20c997;
    color: #20c997;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px;
    position: absolute;
    top: 20px;
    left: 150px;
}

img#api {
    height: 1.5rem;
    width: auto;
}
